* {
  font-family: "Y_Spotlight";
}
.App {
  display: flex;

  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #e7f6f2;
}

main {
  display: flex;
}

.features {
  width: 1075px;
  padding-left: 100px;
}
