.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 345px;
  height: 100vh;
  background-color: #a5c9ca;
}

.linkList {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 40px;
}
.pageName {
  padding-left: 18px;
  font-size: 25px;
  color: #e7f6f2;
}
.a {
  text-decoration-line: none;
  margin-bottom: 10px;
  color: #000;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconAndName {
  width: 100%;
  line-height: 1.5;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  text-align: center;
}
